@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
   
}

body {
    background-image: linear-gradient(to right, #6FF76D, #D0FC62);
}

main {
    border-radius: 10px;
    background-color: white;
    box-shadow: 5px 5px 15px #95b39da2;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #2aae738b;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}

h2 {
    color: #58E07C ;
}

p {
    text-align: justify;
}